%div.p-y-100#features
  .row
    .small-12.medium-5.columns
      = image_tag "gps_collar.svg"
    .small-12.medium-6.medium-offset-1.columns
      %h1.c-orange.ta-right.merge GPS collars on every dog, every walk.
      %h4.m-top-10.ta-right.c-drk-blue Rest easy knowing that your dog can be tracked at all times while in our care. All dogs are equipped with GPS trackers on their collars throughout the entire walk.
  .row
    .small-12.columns
      %hr.m-y-80
  .row
    .small-12.medium-6.columns
      %h1.c-orange.merge Private, one-on-one, high quality walks.
      %h4.m-top-10.c-drk-blue When your dog is with our walker they get our full attention. No worrying about other dogs or distractions.
    .small-12.medium-5.medium-offset-1.columns.ta-center
      = image_tag "solo_walk.svg", style: "max-height: 180px;"
  .row
    .small-12.columns
      %hr.m-y-80
  .row
    .small-12.medium-4.columns.ta-center.p-40
      = image_tag "notifications.svg", width: "180px"
      %h4.c-orange.merge{style: " margin-top: 20px;"} Notifications when we arrive and depart.
      %h6.c-drk-blue.m-top-10 Get a text message or email when we arrive at your place and when we leave - including a walk report and photos from the trip.
    .small-12.medium-4.columns.ta-center.p-40
      = image_tag "note_card.svg", width: "254px"
      %h4.c-orange.merge{style: " margin-top: 20px;"} Receive walk reports &amp; photos.
      %h6.c-drk-blue.m-top-10 We’ll send you a report of how the walk went, whether your dog went to the bathroom, and a photo of them enjoying themselves.
    .small-12.medium-4.columns.ta-center.p-40
      = image_tag "credit_card.svg", width: "254px"
      %h4.c-orange.merge{style: " margin-top: 20px;"} Pay with any major credit card.
      %h6.c-drk-blue.m-top-10 At the end of the week we’ll send you an invoice that allows you to pay with your credit card. Make it even easier by signing up for automatic payments.