%div#pricing.p-y-80.bgc-lt-gray
  .row
    .small-12.medium-3.columns
      .div.p-y-20.pricing-box
        %h3.c-drk-blue 5 +
        %p 30 min walks/week
        %hr.m-y-15
        %h1.c-drk-blue{style: "font-size: 4rem;"} $14
    .small-12.medium-3.columns
      .div.p-y-20.pricing-box
        %h3.c-drk-blue 3 - 4
        %p 30 min walks/week
        %hr.m-y-15
        %h1.c-drk-blue{style: "font-size: 4rem;"} $16
    .small-12.medium-3.columns
      .div.p-y-20.pricing-box
        %h3.c-drk-blue 1 - 2
        %p 30 min walks/week
        %hr.m-y-15
        %h1.c-drk-blue{style: "font-size: 4rem;"} $18
    .small-12.medium-3.columns
      .div.p-y-20.pricing-box
        %h3.c-drk-blue As Needed
        %p 30 min walks
        %hr.m-y-15
        %h1.c-drk-blue{style: "font-size: 4rem;"} $20
  .row.m-top-40
    .small-12.medium-6.medium-offset-3.columns.bgc-drk-blue.p-40.ta-center.special
      %h4.tt-uppercase.c-lt-gray - February Special -
      %h1.m-top-20.c-white Sign up by the end of February to get your first week of walks FREE.
  .row.m-top-40#signup
    .small-12.medium-6.medium-offset-3.columns
      %h1.m-bottom-30.c-orange.ta-center Sign Up Now
      = form_for (@user) do |f|
        .field
          = f.label :email, "Email Address"
          = f.text_field :email
        .field.m-top-20
          = f.label :first_name, "First Name"
          = f.text_field :first_name
        .field.m-top-20
          = f.label :last_name, "Last Name"
          = f.text_field :last_name
        .field
          = f.label :zip_code, "Zip Code"
          = f.text_field :zip_code
        .field
          = f.label :phone, "Phone Number"
          = f.telephone_field :phone
        %p.m-top-10.m-bottom-20
          %small We promise not to sell or use your info for anything besides business purposes and special Wag Wag offers.
        .actions
          %button.secondary{style: "width: 100%;"} Sign Up
