%div{style: "background-size: cover; background-repeat: no-repeat; background-image: url('http://picjumbo.com/wp-content/uploads/IMG_8321-1300x866.jpg');"}
  .overlay{style: "background-color: rgba(62,70,81,0.65);"}
    = render 'layouts/nav'
    .row
      .small-12.columns{style: "padding: 80px 0px 0px 0px; text-align: center;"}
        %h1{style: "font-size: 80px; color: white; font-family: 'mergelight';"} Who's a good dog?
        %h4{style: "1111111color: white; font-family: 'Source Sans Pro'; color: #f0f0f0;"} Treat your best friend to premium dog walks.
        %div{style: "position: relative; top: 70px;"}
          %button.primary Sign Up
%div{style: "padding: 80px 0px;"}
  .row
    .small-12.columns
      %hr{style: "position: relative; top: 80px; margin: 0px;"}
      .row
        .small-8.small-offset-2.columns
          %div{style: "background-color: white; padding: 30px; text-align: center;"}
            %h4{style: "font-family: 'mergelight'; color: #666666;"} Walks are more than just a chance for your dog to do their business. Wag Wag gives dogs the fun time they crave while you’re away, with the convenience you would expect from a modern service.
  .row{style: "text-align: center; margin-top: 40px;"}
    .small-12.medium-4.columns
      = image_tag "gps.svg", width: "70px"
      %h5{style: "font-family: 'Source Sans Pro'; color: #666666; margin-top: 20px;"} We enable a GPS locatable collar on all dogs we walk. This helps keep your best friend safe and gives you peace of mind.
    .small-12.medium-4.columns
      = image_tag "list.svg", width: "70px"
      %h5{style: "font-family: 'Source Sans Pro'; color: #666666; margin-top: 20px;"} We'll send you a list of your pet's activities to keep you informed. Want us to look out for something? Let us know!
    .small-12.medium-4.columns
      = image_tag "pic.svg", width: "70px"
      %h5{style: "font-family: 'Source Sans Pro'; color: #666666; margin-top: 20px;"} Say cheese! We'll send you a pic or video of your happy pup after every walk. We may even post it to Instagram.
%div{style: "background-color: #f0f0f0; padding: 130px 0px;"}
-# 
%div
  .row
    .small-12.columns
      = form_for (@user) do |f|
        .row
          .small-12.medium-4.columns
            %h4 User Information
          .small-12.medium-8.columns
            .field
              = f.label :email, "Email Address"
              = f.text_field :email
            %h6
            .field.m-top-20
              = f.label :first_name, "Enter First Name"
              = f.text_field :first_name
            .field.m-top-20
              = f.label :last_name, "Enter Last Name"
              = f.text_field :last_name
            .field
              = f.label :zip_code, "Enter Zip Code"
              = f.text_field :zip_code
            .small-8.medium-2.columns
              .actions
                %button Save