= render 'layouts/error_msg'
= render 'hero'
= render 'about'
= render 'features'
= render 'meet_walker'
%div#pricing{style: "padding: 80px 0px; background-color: #F0F0F0"}
  .row
    .small-12.medium-3.columns
      .div.p-y-20{style: "width: 100%; background-color: white; border: 1px solid #979797; border-radius: 10px; text-align: center;"}
        %h3.c-drk-blue As Needed
        %p{style: "font-size: 0.8rem;"} 30 min walks
        %hr.m-y-15
        %h1.c-drk-blue{style: "font-size: 4rem;"} $20
    .small-12.medium-3.columns
      .div.p-y-20{style: "width: 100%; background-color: white; border: 1px solid #979797; border-radius: 10px; text-align: center;"}
        %h3.c-drk-blue 1 - 2
        %p{style: "font-size: 0.8rem;"} 30 min walks/week
        %hr.m-y-15
        %h1.c-drk-blue{style: "font-size: 4rem;"} $18
    .small-12.medium-3.columns
      .div.p-y-20{style: "width: 100%; background-color: white; border: 1px solid #979797; border-radius: 10px; text-align: center;"}
        %h3.c-drk-blue 3 - 4
        %p{style: "font-size: 0.8rem;"} 30 min walks/week
        %hr.m-y-15
        %h1.c-drk-blue{style: "font-size: 4rem;"} $16
    .small-12.medium-3.columns
      .div.p-y-20{style: "width: 100%; background-color: white; border: 1px solid #979797; border-radius: 10px; text-align: center;"}
        %h3.c-drk-blue 5 +
        %p{style: "font-size: 0.8rem;"} 30 min walks/week
        %hr.m-y-15
        %h1.c-drk-blue{style: "font-size: 4rem;"} $14
  .row.m-top-80#signup
    .small-12.medium-6.medium-offset-3.columns
      %h1.m-bottom-30.c-orange.ta-center Sign Up Now
      = form_for (@user) do |f|
        .field
          = f.label :email, "Email Address"
          = f.text_field :email
        .field.m-top-20
          = f.label :first_name, "First Name"
          = f.text_field :first_name
        .field.m-top-20
          = f.label :last_name, "Last Name"
          = f.text_field :last_name
        .field
          = f.label :zip_code, "Zip Code"
          = f.text_field :zip_code
        .field
          = f.label :phone, "Phone Number"
          = f.telephone_field :phone
        %p{style: "font-size: small; margin-top: 10px; margin-bottom: 20px;"} We promise not to sell or use your info for anything besides business purposes and special Wag Wag offers.
        .actions
          %button.secondary{style: "width: 100%;"} Sign up
